@import "~bootstrap/scss/bootstrap";

body{
  margin: 0;
  padding: 0;
  a.btnDashboard {
    position: absolute;
    top: 66px;
  }
  .nav-item.dropdown a {
    padding: 0 !important;
    min-width: 160px;
  }
  button.navbar-toggler {
    display: none !important;
  }
  .dashboard-container{
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content:end;
margin-top:-1em;
    width: 100%;
    .row{
      width: 100%;
      justify-content: space-around;
      flex-wrap: wrap;
      height: 40vh;
      align-items: center;
      .custom-box {
        min-width: 20%;
        padding: 50px;
        background: #353a4e;
        a {
          color: #fff !important;
        }
      }
    }
  }
  .App {

    button.btn {
      cursor: pointer !important;
      border-radius: inherit;
      padding: .2em 1.2em;
    }
    .menuToggleBtn,.menuToggleBtn:hover,.menuToggleBtn:focus{
      z-index: 999999999;
      background: transparent;
      border:none;
      outline:none;
      box-shadow: none;
      padding: 0;
      cursor: pointer;
      min-width: 160px;
    }

    button.p-sidebar-close.p-sidebar-icon.p-link {
      display: none;
    }
    .container-fluid {
      padding: 50px;
    }
    .dropdown-menu {
      display:none !important;
      &.show{
        display:flex !important;
  }

    }
    nav{
      .mr-auto.navbar-nav {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-right: 15px;
      }
      display: flex;
      justify-content: space-around;
      height: 50px;
      align-items: center;
      background-color: #353a4e;
      margin-bottom: 15px;
      .dropdown-menu{
        display:flex;
        flex-direction:column;
      }
      a{
        //color: #ffffff;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .p-datatable {
      .p-paginator {
        background: transparent;
        color: #000;
        border: none !important;

        button {
          cursor: pointer !important;
          span {
            color: #000 !important;
          }
        }
      }
    }
    .p-datatable-wrapper {

      display: flex;
      justify-content: center;
      table {
        width: 100%;
        thead{

          tr{
            th{
              padding: .5em;
            }
          }
        }
        tbody{
          tr{
            td{
              padding: .5em;
            }
          }
          tr:nth-child(odd){
            color: #000;
          }
          tr:nth-child(even){
            color: #000;
          }
        }
      }

    }

    .p-sidebar.p-component.p-sidebar-left{
      position: relative;
      float: left;
      height: 100vh;
      top: -15px !important;
      transition-duration: 500ms;
      transition-timing-function: ease-in-out;
    }
    .p-sidebar.p-component.p-sidebar-left{
      position: fixed;
      float: left;
      width: 15rem;
      padding: 0;
      height: 100vh;
      top: 50px !important;
    }
    .nav-item.dropdown{
      a{
        color:#ffffff !important;
      }
      .dropdown-menu{
        border-radius: 0px !important;
        width: 100%;
        a{
          padding: 0.2em !important;
          color: #001c20 !important;
        }
      }
    }
  }
}


.datatable-responsive-demo .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
  display: none;
}

@media screen and (max-width: 40em) {
  .datatable-responsive-demo .p-datatable.p-datatable-responsive-demo .p-datatable-thead > tr > th,
  .datatable-responsive-demo .p-datatable.p-datatable-responsive-demo .p-datatable-tfoot > tr > td {
    display: none !important;
  }

  .datatable-responsive-demo .p-datatable.p-datatable-responsive-demo .p-datatable-tbody > tr > td {
    text-align: left;
    display: block;
    width: 100%;
    float: left;
    clear: left;
    border: 0 none;
    button:disabled{
      cursor: default !important;
      opacity:0.4 !important;
    }
  }

  .datatable-responsive-demo .p-datatable.p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
    padding: .4rem;
    min-width: 30%;
    display: inline-block;
    margin: -.4em 1em -.4em -.4rem;
    font-weight: bold;
  }

  .datatable-responsive-demo .p-datatable.p-datatable-responsive-demo .p-datatable-tbody > tr > td:last-child {
    border-bottom: 1px solid var(--surface-d);
  }
}

#slider{
  width:100%;
  min-height: 300px;
  background: url('./images/CRM.jpg') no-repeat;
  background-size: cover;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #020a28;
    filter: opacity(0.5);
    z-index: 0;
  }
}
.sign-in,.sign-up{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background: #f7f7f7;
  height: 100vh;
}
.sign-in-header {
  display: flex;
  height: 50px;
  width: 100%;
  background: #353a4e;
  margin-bottom: 15px;
  padding: 0.5rem 1rem;
  color:#fff;
  justify-content: center;
  align-items: center;
}
.sign-in-content{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
  width: 500px;
  background: #fff;
  > div{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 250px;
    padding: 0px 20px;
     * {
       width:100% !important;
     }
  }

}